<div class="items">
  <div class="row pics pt-5">
    <div class="col my-auto">
      <img src="../../../assets/salud.png" alt="" class="image img-fluid" />
      <a href="https://salud-cocktails.herokuapp.com/home" target="_blank">
        <div class="overlay">
          <div class="text">
            <h6>SALUD!</h6>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut
              veniam impedit, non animi quidem iure explicabo quas illo sed
              dolor soluta omnis aliquam delectus ducimus voluptatibus veritatis
              optio. Recusandae, officia.
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col">
      <a href="https://salud-cocktails.herokuapp.com/home" target="_blank"
        ><img src="../../../assets/salud.png" class="img-fluid"
      /></a>
    </div> -->
    <div class="col">
      <img
        src="../../../assets/burger-app.png"
        alt=""
        class="image img-fluid"
      />
      <a href="https://obscure-lowlands-97631.herokuapp.com/" target="_blank">
        <div class="overlay">
          <div class="text">
            <h6>EAT DA BURGER</h6>
            <p>
              This application is a full-stack application designed as a burger
              logger that utilizes MySQL, Express, Handlebars and a homemade
              ORM. The user can view burgers, create burgers, and eat burgers
              all of which are rendered immediately based on the up-to-date
              database. MVC design pattern was followed, Node and MySQL were
              used to query and route data in the app, while Handlebars was used
              to generate the HTML.
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col">
      <a href="https://obscure-lowlands-97631.herokuapp.com/" target="_blank"
        ><img src="../../../assets/burger-app.png" class="img-fluid"
      /></a>
    </div> -->
    <div class="col">
      <img
        src="../../../assets/ask-winston.png"
        alt=""
        class="image img-fluid"
      />
      <a
        href="https://on-your-marc-go.github.io/Ask-Winston-Music-Rec-Engine/"
        target="_blank"
      >
        <div class="overlay">
          <div class="text">
            <h6>ASK WINSTON</h6>
            <p>
              Ask Winston is a music recommendation search engine created by
              Marc Arguijo, Ramon Garza III, and Inez Escandón. This application
              allows the user to search by artist or song to get similar artists
              or songs respectively. Top songs, artists, and albums are also
              available for those who would just like popular music
              recommendation of the month.
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col">
      <a
        href="https://on-your-marc-go.github.io/Ask-Winston-Music-Rec-Engine/"
        target="_blank"
        ><img src="../../../assets/ask-winston.png" class="img-fluid"
      /></a>
    </div> -->
  </div>
  <div class="row pics pb-5">
    <div class="col">
      <img
        src="../../../assets/note-taker.png"
        alt=""
        class="image img-fluid"
      />
      <a href="https://sleepy-crag-82469.herokuapp.com/" target="_blank">
        <div class="overlay">
          <div class="text">
            <h6>NOTE TAKER</h6>
            <p>
              This application is designed to function as a note taker. The user
              can create notes, save notes, view notes, and even delete notes
              with ease. These notes get pushed to the server allowing for these
              notes to be stored and not lost. Notes get written to a db.json
              file. HTML and CSS are simple and minimalistic to make the
              application aesthetically appealing and user friendly.
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col">
      <a href="https://sleepy-crag-82469.herokuapp.com/" target="_blank"
        ><img src="../../../assets/note-taker.png" class="img-fluid"
      /></a>
    </div> -->
    <div class="col">
      <img src="../../../assets/code-quiz.png" alt="" class="image img-fluid" />
      <a href="https://iescandon.github.io/code-quiz/" target="_blank">
        <div class="overlay">
          <div class="text">
            <h6>CODE QUIZ</h6>
            <p>
              Code Quiz is an application that tests your knowledge of coding.
              The user is being timed throughout the quiz and is provided with
              immediate feedback on whether their answer was correct/incorrect
              and which answer was the correct choice if their answer was
              incorrect. The user is allowed to save their highscore into local
              storage allowing them to view it at anytime.
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col">
      <a href="https://iescandon.github.io/code-quiz/" target="_blank"
        ><img src="../../../assets/code-quiz.png" class="img-fluid"
      /></a>
    </div> -->
    <div class="col">
      <img
        src="../../../assets/weather-dashboard.png"
        alt=""
        class="image img-fluid"
      />
      <a href="https://iescandon.github.io/weather-dashboard/" target="_blank">
        <div class="overlay">
          <div class="text">
            <h6>WEATHER DASHBOARD</h6>
            <p>
              Weather Dashboard is an application that displays current weather
              information as well as a 5 day forecast. User utilizes the search
              bar to search for the city of their choice. Previously searched
              cities get saved as buttons under search bar. Current weather
              provides you with temperature, humidity, wind speed, UV Index, and
              an icon representing the weather.
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col">
      <a href="https://iescandon.github.io/weather-dashboard/" target="_blank"
        ><img src="../../../assets/weather-dashboard.png" class="img-fluid"
      /></a>
    </div> -->
  </div>
</div>
