<div class="items">
  <div class="row justify-content-center text-center pics pt-5">
    <div class="col">
      <a href="https://salud-cocktails.herokuapp.com/home" target="_blank"
        ><img src="../../../assets/salud.png" class="img-fluid"
      /></a>
    </div>
    <div class="col">
      <a href="https://obscure-lowlands-97631.herokuapp.com/" target="_blank"
        ><img src="../../../assets/burger-app.png" class="img-fluid"
      /></a>
    </div>
    <div class="col">
      <a
        href="https://on-your-marc-go.github.io/Ask-Winston-Music-Rec-Engine/"
        target="_blank"
        ><img src="../../../assets/ask-winston.png" class="img-fluid"
      /></a>
    </div>
  </div>
  <div class="row justify-content-center text-center pics pb-5">
    <div class="col">
      <a href="https://sleepy-crag-82469.herokuapp.com/" target="_blank"
        ><img src="../../../assets/note-taker.png" class="img-fluid"
      /></a>
    </div>
    <div class="col">
      <a href="https://iescandon.github.io/code-quiz/" target="_blank"
        ><img src="../../../assets/code-quiz.png" class="img-fluid"
      /></a>
    </div>
    <div class="col">
      <a href="https://iescandon.github.io/weather-dashboard/" target="_blank"
        ><img src="../../../assets/weather-dashboard.png" class="img-fluid"
      /></a>
    </div>
  </div>
</div>
