<nav class="navbar navbar-expand-lg navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">Inez Escandón</a>
  </nav> -->
  <ul class="navbar-brand menu">
    <li>
      <a
        href="https://www.linkedin.com/in/iescandon/"
        target="_blank"
        class="fa fa-linkedin"
      ></a>
    </li>
    <li>
      <a
        href="https://github.com/iescandon"
        target="_blank"
        class="fa fa-github"
      ></a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/inescandon/?hl=en"
        target="_blank"
        class="fa fa-instagram"
      ></a>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="./index.html">ABOUT</a>
      <a class="nav-item nav-link active" href="./portfolio.html">PORTFOLIO</a>
      <a class="nav-item nav-link" href="./resume.html">RESUME</a>
      <a class="nav-item nav-link" href="./contact.html">CONTACT</a>
    </div>
  </div>
</nav>
