<div class="container-fluid">
  <!-- SECOND ROW: RESUME INFO -->
  <div class="row under-hero">
    <!-- FIRST COLUMN: RESUME NAV -->

    <div class="col-3 left-col bd-toc vertical-center justify-content-center">
      <div class="">
        <app-resume-title></app-resume-title>
        <!-- <div>
        <img
          src="../../../assets/jonahpic.jpg"
          alt=""
          width="100%"
          class="mb-3"
        />
      </div> -->
        <div class="mb-4 text-center">
          <a href="./assets/resume.pdf" download>DOWNLOAD RESUME PDF</a>
        </div>
        <div id="list-example" class="list-group list-group-flush">
          <a
            class="list-group-item list-group-item-action text-center item1"
            href="#list-item-1"
            >Objective</a
          >
          <a
            class="list-group-item list-group-item-action text-center item2"
            href="#list-item-2"
            >Experience</a
          >
          <a
            class="list-group-item list-group-item-action text-center item3"
            href="#list-item-3"
            >Skills</a
          >
          <a
            class="list-group-item list-group-item-action text-center item4"
            href="#list-item-4"
            >Education</a
          >
          <a
            class="list-group-item list-group-item-action text-center item5"
            href="#list-item-5"
            >Hobbies</a
          >
        </div>
      </div>
    </div>
    <!-- SECOND COLUMN: RESUME TEXT -->
    <div class="col-9 pl-5 right-col">
      <!-- <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example"> -->
      <div>
        <h4 id="list-item-1" data-name="education">OBJECTIVE</h4>
        <p>
          Looking to leverage ten years experience as an educator to quickly
          learn and grow in a web development career. Because of her
          professionalism and strong work ethic, she has been put into
          leadership roles and been asked to mentor other teachers. As an
          educator, she has proved her strong organizational/communication
          skills and ability to effectively multitask/manage challenging tasks
          all while achieving the goals in a fast-paced work environment. A
          highly motivated self-starter who is fully committed to proving
          herself in a new career, she would be a great asset to any company.
        </p>
        <br /><br /><br />
        <h4 id="list-item-2" data-name="experience">EXPERIENCE</h4>
        <p>
          <i>Physical Education Teacher, Deer Park ISD</i><br />
          Pasadena, TX (Aug 2017 - Aug 2020)<br />
        </p>
        <br />

        <p>
          <i>Bilingual Teacher, Deer Park ISD</i><br />
          Pasadena, TX (Aug 2014 - Aug 2017)<br />
        </p>
        <br />

        <p>
          <i>Instructional Technology Specialist, Sheldon ISD</i>
          ><br />
          Sheldon, TX (Aug 2013 - Aug 2014)<br />
        </p>
        <br />

        <p>
          <i>Dual Language Teacher, North East ISD</i><br />
          San Antonio, TX (Aug 2010 - Aug 2013)<br />
        </p>
        <br /><br /><br />
        <h4 id="list-item-3" data-name="skills">SKILLS</h4>
        <div class="row">
          <div class="col">
            <ul>
              <li><i>Technical Skills</i></li>
              <li>- HTML</li>
              <li>- CSS</li>
              <li>- Bootstrap CSS</li>
              <li>- Materialize CSS</li>
              <li>- Javascript</li>
              <li>- JSON</li>
              <li>- jQuery</li>
              <li>- AJAX</li>
              <li>- Web APIs</li>
              <li>- Node.js</li>
              <li>- UI/UX Design</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li><i>Additional Skills</i></li>
              <li>- Bilingual (English & Spanish)</li>
              <li>- Leadership/Takes Initiative</li>
              <li>- Strong Problem Solving Abilities</li>
              <li>- Ability to Work in a Team/Adaptable</li>
              <li>- High Attention to Detail</li>
              <li>- Effective Communication</li>
              <li>- Energetic Work Attitude</li>
              <li>- Creative and Innovative Thinking</li>
              <li>- Quick Learner</li>
            </ul>
          </div>
        </div>
      </div>
      <br /><br /><br />
      <h4 id="list-item-4" data-name="education">EDUCATION</h4>
      <div class="row">
        <p class="col">
          <i>University of Texas at Austin</i><br />
          Austin, TX (May 2010)<br />
          Bachelors in Bilingual Education
        </p>
        <p class="col">
          <img src="../../../assets/longhorn.png" alt="" height="72px" />
        </p>
      </div>
      <br />
      <div class="row">
        <p class="col">
          <i>University of Texas at San Antonio</i><br />
          San Antonio, TX (May 2013)<br />
          Masters in Instructional Technology
        </p>
        <p class="col">
          <img src="../../../assets/rowdy.png" alt="" height="72px" />
        </p>
      </div>
      <br /><br /><br />

      <h4 id="list-item-5" data-name="hobbies">HOBBIES</h4>
      <p>
        Fitness, Dance, Music, Mountain Biking, Brazilian Jiu Jitsu, & Mixology
      </p>
      <br /><br /><br />
    </div>
  </div>
</div>
