.title {
  /* height: 34vh; */
  width: 100vw;
  /* background-color: rgb(11, 59, 11); */
  /* background: none; */
}

.h1title {
  color: black;
  padding-top: 50px;
  font-size: 80px;
  font-family: "Satisfy", cursive;
}
